body {
    font-family: 'HackRegular';
    font-weight: normal;
    font-style: normal;
    background-color: black;
    color: white;
    padding: 0;
    margin: 10px 0 0 0;
}

.error div {
    margin: 0 auto;
    width: 250px;
    text-align: center;
    display: none;
}

.main_table {
    max-width: 820px;
    min-width: 2%;
    margin: 0 auto;
}

.table {
    margin: 0 20px;
    box-sizing: border-box;
}

.main_table table {
    width: 100%;
    border-collapse: collapse;
}

.main_table tbody tr td {
    border: 1px solid white;
    word-wrap: break-word;
}

.main_table th {
    border: 1px solid white;
    word-wrap: break-word;
}

.main_table center {
    border: none;
}

.is_even {
    position: relative;
    width: 20px;
    float: right;
    margin-right: -10px;
}

.is_even div {
    position: fixed;
    bottom: 90px;
}

.lessionName {
    font-size: 15px;
}

.lessionTeacher {
    border: 0;
    float: left;
}

.lessionCode {
    border: 0;
    float: right;
}

.lessionNumber {
    width: 29px;
}

.lessionNameH {
    text-align: left;
}

.span_even_green {
    border: 0;
    background-color: lightgreen;
    color: lightgreen;
    height: 1px;
    text-align: right;
}

.span_even_red {
    border: 0;
    background-color: tomato;
    color: tomato;
    height: 1px;
    text-align: right;
}

.time_detector {
    width: inherit;
    height: 1px;
    background-color: greenyellow;
    opacity: 0.5;
    position: absolute;
    border: 0;
    margin-top: 0px;
}
