body {
    font-family: 'HackRegular';
    font-weight: normal;
    font-style: normal;
    background-color: black;
    color: white;
}

.error div {
    margin: auto auto;
    width: 250px;
    text-align: center;
    display: none;
}

.main_table {
    margin: auto 20px;
    max-width: 820px;
}

.main_table table {
    width: 100%;
    border-collapse: collapse;
}

.main_table * {
    border: 1px solid white;
    word-wrap: break-word;
}

.main_table center {
    border: none;
}

.is_eval {
    position: fixed;
    right: 10px;
    width: 20px;
    bottom: 90px;
}

.lessionName {
    font-size: 15px;
}

.lessionTeacher {
    border: 0;
    float: left;
}

.lessionCode {
    border: 0;
    float: right;
}

.lessionNumber {
    width: 29px;
}

.lessionNameH {
    text-align: left;
}

.span_even_green {
    border: 0;
    background-color: lightgreen;
    color: lightgreen;
    height: 1px;
    text-align: right;
}

.span_even_red {
    border: 0;
    background-color: tomato;
    color: tomato;
    height: 1px;
    text-align: right;
}
